.add-game-modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.add-game-modal {
  position: relative;
  top: 25%;
  margin: auto;
  height: 400px;
  width: 320px;
  background: #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 2px 8px 1px #3A3C3E78;
  overflow: hidden;
  z-index: 502;
}

.add-game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  padding: 0 0 0px 0;
  color: white;
  background: #5c7178;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 8px 8px 4px 4px;
}

.add-game-header div {
  padding-top: 10px;
  padding-bottom: 5px;
}

.add-game-back {
  width: 55px;
  padding: 0 10px 5px 10px;
}

.add-game-title {
  font-size: 1.1em;
  font-weight: 600;
}

.add-game-right-pad {
  width: 55px;
  padding: 0 10px 5px 10px;
}

.add-game-form-container {}

.add-game-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  height: 100%;
}

.add-game-form.input-group {}

.add-game-dimmer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #141619A8;
  z-index: 501;
}