.smp-game-container {
  z-index: 0;
}

.game-content {
  background-color: #F1F1F1;
  border: 1px solid #E5E5E5;
  border-radius: 0px 0px 2px 5px;
}

.game-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px 0px;
}

.game-collapsible:after {
  color: #585858;
}
