<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- css -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/smp-add-game-modal.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/smp-series-menu.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/smp-player.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/smp-add-series.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/smp-game.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/collapsible.css" type="text/css" media="all" />
  <!-- libraries -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/weekOfYear.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/weekday.js"></script>
  <script>
    dayjs.extend(window.dayjs_plugin_weekOfYear)
    dayjs.extend(window.dayjs_plugin_weekday)
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
  <script src="./vue/vuex2.0.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js'></script>
</head>

<body>
  <div class="app" id="app" @delete-series="handleDeleteSeries" @click="handleMenuBlur">
    <smp-add-game-modal @new-game-created="addNewGame" :show-add-game-modal="showAddGameModal" @hide-add-game-modal="toggleAddGameModal" :selected="selectedSeries"></smp-add-game-modal>
    <header class="app-header">
      <h2 class="header-title">Mario Tracker</h2>
      <div class="add-series-container">
        <div class="add-series-button">+ Series</div>
        <div class="add-series-content hide">
          <div class="add-series-title"></div>
          <form class="add-series-form">
            <div class="control-container">
              <label for="player-name-input">Player</label>
              <input type="text" class="player-name-input" name="player-name-input" id="player-name-input" value="" />
            </div>
            <button type="button">Add Player</button>
          </form>
        </div>
      </div>
    </header>
    <!-- Series List -->
    <div class="series-list active-series-list">
      <div class="series-list-title">Active Series</div>
      <div class="series-container">
        <smp-series @add-game="toggleAddGameModal" v-for="series in series" :series-data="series" ></smp-series>
      </div>
    </div>
  </div>
  <div class="json-output"></div>
  <!-- @player-template -->
  <template id="smp-player-template">
    <div class="player-container">
      <div class="player-rank">
        {{player.rank}}
      </div>
      <div class="player-name">
        {{player.name}}
      </div>
      <div class="player-character-name">
        {{player.character}}
      </div>
      <div class="player-stars">
        {{player.stars}}
      </div>
    </div>
  </template>
  <!-- @menu-template -->
  <template id="smp-series-menu-template">
    <div class="series-menu-container">
      <div class="series-menu-button" @click.stop="seriesMenuToggleClicked">Menu</div>
      <ul class="series-menu" ref="menu-body" :class="classObject">
        <li class="series-menu-item add-game-button" @click="addGameClicked">Add Game</li>
        <li class="series-menu-item delete-series-button" @click="deleteSeriesClicked">Delete Series</li>
        <li class="series-menu-item edit-series-button" @click="editSeriesTitleClicked">Edit Series Title</li>
        <li class="series-menu-item archive-series-button">Archive Series</li>
      </ul>
    </div>
  </template>
  <!-- @menu-template -->
  <template id="smp-add-game-template">
    <div class="add-game-modal-container" :class="{hide: !showAddGameModal}">
      <div class="add-game-modal">
        <header class="add-game-header">
          <!-- <div class="add-game-top-bar"></div> -->
          <div class="add-game-back" @click.stop="handleBackClicked"></div>
          <div class="add-game-title">Add Game</div>
          <div class="add-game-right-pad"></div>
        </header>
        <div class="add-game-form-container">
          <form class="add-game-form" @submit.prevent="handleFormSubmit">
            <div class="input-group">
              <label for="name-input">Name</label>
              <input type="text" name="name-input" class="map-input" id="map-input" v-model="newGameName" />
            </div>
            <div class="input-group">
              <label for="map-select">Map</label>
              <select v-model="newGame.map" name="map-select" class="map-select" id="map-select">
                <option value="Whomp's World">Whomp's World</option>
                <option value="King Bomb's World">King Bomb's World</option>
                <option value="Fruit Islands">Fruit Islands</option>
                <option value="Kamek's World">Kamek's World</option>
              </select>
            </div>
            <div class="input-group">
              <label for="date-input">Date</label>
              <input v-model="newGame.date" type="date" name="date-input" class="date-input" id="date-input" value="" />
            </div>
            <div class="input-group">
              <label for="map-input">Map Name</label>
              <input type="text" name="map-input" class="map-input" id="map-input" value="" />
            </div>
            <div class="button-actions">
              <input type="submit" name="add-game-submit" class="add-game-submit" id="add-game-submit" value="Add" />
            </div>
          </form>
        </div>
      </div>
      <div class="add-game-dimmer" @click.stop="handleDimmerClicked"></div>
    </div>
  </template>
  <!-- @game-template -->
  <template id="smp-game-template">
    <div class="smp-game-container" ref="gameRoot">
      <div ref="gameCollapsible" class="collapsible game-collapsible" @click="handleGameCollapsibleClicked">
        Game {{ game.id }}
      </div>
      <div class="game-content-wrapper content-wrapper" ref="contentWrapper">
      <div class="content game-content" ref="gameContent">
        <div class="game-details">
          <div class="game-map-name">
            {{game.map}}
          </div>
          <div class="game-date">
            {{game.date}}
          </div>
        </div>
        <div class="player-list">
          <div class="player-list-headers">
            <div class="player-list-header">Rank</div>
            <div class="player-list-header">Name</div>
            <div class="player-list-header">Character</div>
            <div class="player-list-header">Stars</div>
          </div>
          <div class="player-list-body">
            <smp-player class="player" v-for="player in players" :player-data="player"></smp-player>
          </div>
        </div>
      </div>
      </div>
    </div>
  </template>
  <!-- @series-template -->
  <template id="smp-series-template">
    <div class="series-container">
      <div ref="seriesCollapsible" class="collapsible series-collapsible" @click="handleSeriesCollapsibleClicked">
        <div class="title-container">
          <div ref="seriesTitle" :class="collapsibleEditClass" class="series-title">Series {{seriesData.id}}</div>
          <div class="submit-series-name" @click.stop="submitSeriesTitleEdit" :class="titleButtonHideClass">
            ok
          </div>
        </div>
      </div>
      <div class="series-content-wrapper content-wrapper" ref="contentWrapper">
        <div class="series-content content" ref="seriesContent">
          <header class="series-header">
            <div class="series-players-button" @click="handlePlayersClicked">{{ seriesData.players.length }} Players</div>
            <div class="game-count-display">Games: {{ games.length }}</div>
            <smp-series-menu :seriesId="seriesData.id" @series-menu-option-clicked="mapSeriesActions"></smp-series-menu>
          </header>
          <div class="game-list">
            <smp-game :series-collapsed="seriesCollapsed" @game-collapsible-clicked="handleGameCollapsibleClicked" v-for="game in games" :game-data="game"></smp-game>
          </div>
        </div>
      </div>
    </div>
  </template>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script> -->
  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script> -->
  <!-- <script>
	// Your web app's Firebase configuration
	// For Firebase JS SDK v7.20.0 and later, measurementId is optional
	var firebaseConfig = {
		apiKey: "AIzaSyAjMD_N45O3uweJ3UvDCd5h1adkTwGebQs",
		authDomain: "mario-party-tracker.firebaseapp.com",
		databaseURL: "https://mario-party-tracker-default-rtdb.firebaseio.com",
		projectId: "mario-party-tracker",
		storageBucket: "mario-party-tracker.appspot.com",
		messagingSenderId: "691666648206",
		appId: "1:691666648206:web:0fd103d1ec7b6066221ddf",
		measurementId: "G-3XQKWC630M"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);
	firebase.analytics();
	console.log('index fb', firebase.database().ref())
</script> -->
  <!-- <script>
		firebase.
	</script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script> -->
  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script> -->
  <!-- Add Firebase products that you want to use -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script> -->
  <!-- <script src="tracker-main.js" type="module" charset="utf-8"></script> -->
  <script src="new-app.js" type="module" charset="utf-8"></script>
</body>

</html>
<!-- - -->
<!-- - -->
<!--
	<template id="app">
   	<div class="app">
   		<app-header></app-header>
   		<series-list>
   			<series>
   				<series-menu></series-menu>
   				<game></game>
   			</series>
   		</series-list>
   		<series-list></series-list>
   	</div>
   </template>
  <template id="series-list">
  	<div class="series-list active-series-list">
  		<div class="series-list-title">Active Series</div>
  	</div>
  </template>
  <template id="collapsible">
  	<div class="collapsible series-collapsible">
  		<div class="title-container">
  			<div class="series-title" data-series="false">Series 1</div>
  			<div class="submit-series-name hide">
  				ok
  			</div>
  		</div>
  	</div>
  </template>
  <template id="app-header">
  	<header class="app-header">
  		<h2 class="header-title">{{title}}</h2>
  		<div class="add-series-container">
  			<div class="add-series-button">+ Series</div>
  			<div class="add-series-content hide">
  				<div class="add-series-title"></div>
  				<form class="add-series-form">
  					<div class="control-container">
  						<label for="player-name-input">Player</label>
  						<input type="text" class="player-name-input" name="player-name-input" id="player-name-input" value="" />
  					</div>
  					<button type="button">Add Player</button>
  				</form>
  			</div>
  		</div>
  	</header>
  </template>
  <template id="series">
  	<div class="series-container">
  		<div class="collapsible series-collapsible">
  			<div class="title-container">
  				<div class="series-title" data-series="false">Series 1</div>
  				<div class="submit-series-name hide">
  					ok
  				</div>
  			</div>
  		</div>
  		<div class="series-content content">
  			<header class="series-header">
  				<div class="series-players-button">03/21/2021</div>
  				<div class="game-count-display">Games: 2</div>
  				<div class="series-menu-container">
  					<div class="series-menu-button">Menu</div>
  					<ul class="series-menu hide">
  						<li class="series-menu-item add-game-button">Add Game</li>
  						<li class="series-menu-item delete-series-button">Delete Series</li>
  						<li class="series-menu-item edit-series-button">Edit Series Name</li>
  						<li class="series-menu-item archive-series-button">Archive Series</li>
  					</ul>
  				</div>
  			</header>
  			<div class="game-list"></div>
  		</div>
  	</div>
  </template>
  <template id="series-menu">
  	<div class="series-menu-container">
  		<div class="series-menu-button">Menu</div>
  		<ul class="series-menu hide">
  			<li class="series-menu-item add-game-button">Add Game</li>
  			<li class="series-menu-item delete-series-button">Delete Series</li>
  			<li class="series-menu-item edit-series-button">Edit Series Name</li>
  			<li class="series-menu-item archive-series-button">Archive Series</li>
  		</ul>
  	</div>
  </template>
  <template id="smp-game">
  	<div class="collapsible game-collapsible" data-game="${this.data.id}" data-series="${this.data.seriesId}">Game ${this.data.id}</div>
  	<div class="content game-content hide">
  		<div class="game-details">
  			<div class="game-map-name" data-game="${this.data.id}" data-series="${this.data.seriesId}">
  				Map: ${this.props.map}
  			</div>
  			<div class="game-date" data-game="${this.data.id}" data-series="${this.data.seriesId}">
  				${this.props.date}
  			</div>
  		</div>
  		PlayerList Component
  		<div class="player-list">
  			Player Component
  		</div>
  	</div>
  </template>
  -->