* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  padding: 0px 0px;
  min-height: 100vh;
  color: #E6E6E6;
  background: #3F74CB;
  transition: 0.5s;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0px;
  overflow: hidden;
}

.collapsible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background: #5C7178;
  color: white;
  text-align: left;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #E5E5E530;
  outline: none;
  cursor: pointer;
}

.collapsible.editing {
  padding: 10px;
}

.collapsible:after {
  content: '\002B';
  margin-left: 5px;
  color: white;
  font-weight: bold;
  float: right;
}

.collapsible.active:after {
  content: "\2212";
}

.title-container {
  display: flex;
  padding: 5px;
  flex-direction: row;
}

.series-title {
  width: fit-content;
  max-width: 185px;
  font-size: 1.2em;
  border: 0px solid #FFFFFF00;
  white-space: nowrap;
}

.series-title.editing {
  display: flex;
  justify-content: space-around;
  width: 185px;
  padding: 5px;
  color: black;
  background: #FFFFFF99;
  border-radius: 3px 0px 0px 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  outline: none;
}

.submit-series-name {
  padding: 7px 15px;
  font-weight: 500;
  background: white;
  color: #808080;
  border-radius: 3px 35px 35px 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  z-index: 30;
  text-align: center;
}

.submit-series-name.hide {
  display: none;
}

.content {
  padding: 0px 2px 0px 5px;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  /* background-color: #FFFFFF; */
  transition: 0.5s;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.series-container {
  z-index: 30;
  margin-bottom: 5px;
  padding: 5px;
}

.series-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
}

.game-list {
  margin-bottom: 5px;
  padding: 0px 2px 0px 5px;
  transition: 0.5s;
  z-index: 0;
}

.json-output {
  user-select: text;
}