* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	/* z-index: 0; */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {}

.app {
	display: flex;
	flex-direction: column;
	padding: 0px 5px;
	justify-content: space-around;
	align-items: space-around;
}


.app-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* height: 50px; */
	margin-bottom: 10px;
	padding: 5px 0px;
	overflow: hidden;

}

.add-series-button {
	display: block;
	color: green;
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	justify-content: center;
	padding: 0px 10px;
	width: fit-content;
	/* height: 40px; */
	/* border: 1px solid #42445A; */
}

.collapsible {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #5c7178;
	text-align: right;

	/* background-color: #777; */
	color: white;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-bottom: 1px solid #E5E5E530;
	/* border-bottom: 1px solid #E5E5E530; */
}

.collapsible.editing {
	padding: 10px;
}

.active,
.collapsible:hover {
	/* background-color: #555555; */
	/* background: #5c7178; */
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.collapsible.active:after {
	content: "\2212";
}

.series-collapsible {
	/* justify-content: space-around; */
	/* position: relative; */
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
	/* padding: 5px; */
}

.title-container {
	display: flex;
	padding: 5px;
	flex-direction: row;
}

.series-title {
	font-size: 1.2em;
	/* background: #FFFFFF00; */
	width: fit-content;
	max-width: 185px;
	border: 0px solid #FFFFFF00;
	white-space: nowrap;


}

.series-title.editing {
	display: flex;
	justify-content: space-around;
	width: 185px;
	background: #FFFFFF99;
	outline: none;
	border-radius: 3px 0px 0px 3px;
	color: black;
	padding: 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	/* text-decoration: underline; */

}

.submit-series-name {
	/* position: absolute; */
	/* top: 25%; */
	padding: 7px 15px;
	font-weight: 500;
	background: white;
	color: #808080;
	/* color: white; */
	border-radius: 3px 35px 35px 3px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	z-index: 30;
	text-align: center;
}

.submit-series-name.hide {
	display: none;
}

.content {
	/* padding: 0px 2px 0px 5px; */
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #FFFFFF;
	transition: 0.5s;
}


.form-container {
	display: flex;
	flex-direction: row;
}

.game-content {
	padding: 5px;
	background-color: #F1F1F1;
	border: 1px solid #E5E5E5;
	border-radius: 0px 0px 2px 5px;
	transition: 0.2s ease-out, padding 0.01s;
}

.game-content.hide {
	overflow: hidden;
	padding: 0px 10px 0px 10px;
	border: 1px solid #E5E5E500;
	transition: 0.2s ease-out, padding 0.3s ease-out;
}

.game-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 5px 0px;
}

.series-container {
	z-index: 30;
	margin-bottom: 5px;
	padding: 5px;
	/* height: fit-content; */
}

.series-container.active {
	/* display: flex; */
	/* flex-direction: row; */

}

.series-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0px;
	margin: 0px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EDEDED;
	/* background: #E6E6E690; */
}

.series-menu-container {
	position: relative;
	z-index: 500;
	/* background: white; */
}

.series-menu-button {
	/* width: 100%; */
	z-index: 31;
	z-index: 500;
	/* text-align: right; */
	/* background: white; */
}

.series-menu {
	position: absolute;
	display: grid;
	grid-gap: 1px;
	width: 175px;
	top: 0;
	/* left: 0; */
	right: 0;
	padding: 3px 2px;
	list-style: none;
	background: #00000099;
	/* background: #FFFFFF; */
	border-radius: 4px;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 3px 5px 0px #000000B0;
	opacity: 1;
	z-index: 500;
	transition: opacity 0.07s ease-out, height 0.4s;
	/* height: fit-content; */
}

.series-menu li:before {
	/* content: '-'; */
}

.hide {
	opacity: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0px solid #E5E5E5;
	grid-gap: 0px;
	/* display: none; */

}

.series-menu li {
	padding: 10px 12px;
	font-size: 0.8em;
	border-radius: 2.5px;
	border: 1px solid#00000099;
	background: #FFFFFF;
	z-index: 31;
}

.series-menu li:hover {
	border: 1px solid #000000B3;
	box-shadow: 0px 0px 1px 1px inset #FFFFFFE6;
}

.series-menu li:active {
	border: 1px solid #000000B3;
	box-shadow: 0px 0px 8px 0px inset #00000059;
}


.game-list {
	margin-bottom: 5px;
	/* height: fit-content; */
	/* max-height: 0; */
	padding: 0px 2px 0px 5px;
	transition: opacity 0.07s ease-in-out, height 0.4s;
	z-index: 0;
}

.smp-game-container {

	/* height: fit-content; */
	/* max-height: 0; */
	transition: opacity 0.07s ease-in-out, height 0.4s;
	z-index: 0;
}

.game-collapsible {
	padding: 15px 10px 5px 10px;
	background: #FFFFFF00;
	/* background: #EAEAEA; */
	color: #585858;
}

.game-collapsible:after {
	color: #585858;
}

.add-game-button {
	/* margin: auto 0px auto auto; */
	/* padding: 5px; */
	/* text-align: right; */
}

.player-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100%;
	/* padding: 5px; */
	width: 100%;
	/* overflow-x: scroll; */
	text-align: center;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 0;
	gap: 5px;
}

.player-container div {
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	text-align: center;
	height: 100%;
	width: 100%;
	/* padding: 5px; */


}


.player-container.active {
	font-weight: 500;
	background: #C2B684;
}

.player-list {
	display: flex;
	flex-direction: column;
	/* margin-bottom: 10px; */
	width: 100%;
	/* overflow-x: scroll; */
	padding: 0px;
	text-align: center;
	transition: opacity 0.0 ease-in-out, height 0.4s;
}

.player-list-headers {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: space-between;
align-items: center;
 text-align: center;
	width: 100%;
	padding: 0;
	font-weight: bold;
	border-bottom: 1px solid #BCBCBC;
	/* transition: opacity 0.0 ease-in-out, height 0.4s; */
}

.player-list-header {
	padding: 5px 0px 0 0px;
	width: 100%;
	/* padding: 20px; */
	/* transition: opacity 0.0 ease-in-out, height 0.4s; */
}

.json-output {
	user-select: text;
}